header.header_footer{
	margin: 0 -500%;
	padding: 0 500%;
	background-color: #FFFFFF !important;
	border-top:1px solid #DFDFDF;
}
#footer{
	background-color:#FFF;
}
.listing_container{
	width:302px;		
	float:left;		
	margin-right:27px;		
}
.listing_container:nth-child(3n+3){
	margin-right:0;
}
.listing_container div:nth-child(2){
	height:100px;
	overflow:hidden;
	padding:15px;		
	background-color:#000;
}
.listing_container dl{
	color:#C9C9C9;
	font-size:0.9em;
	padding:0;
	margin:0;
}
.listing_container dl dt{	
	color:#fff;
	font-size:1.25em;
}
.listing_container dl dd{
	margin:3px 0;
}		
.bxslider li{	
	margin:0;
	padding:0;
}
.btn3 i{
	margin-left:8px;
}
.left > div{
	display:inline-block;display:table-cell; /*Remove the invisible space*/"
}
hr {
	margin:25px 0;
	border: 0;
	height: 1px;
	background: #C9C9C9; 
}	
.sidebar b{
	font-size:1.05em;		
}
.members_table{
	margin-top:15px;
	border-collapse:collapse;
	line-height:20px;
}
.members_table td{
	padding-bottom:12px;
}	
.members_table tr:last-child td{
	padding-bottom:0;
}
.members_table tr td:nth-child(2){
	padding-left:15px;
}	
.members_table img{
	border:1px solid #DFDFDF;
	display:block;
}	
.condo{
	width:207px;
	height:165px;
	overflow:hidden;	
	margin-bottom:11px;
	margin-right:11px;
	float:left;	
}
.condo:nth-child(3n+3){
	margin-right:0;
	
}	
.img_wrapper{
	overflow:hidden;
	height:163px;
	width:205px;
	border:1px solid #DFDFDF;	
	background-color:#fff;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font-size:0;
}
.img_wrapper img{
	max-width: 205px;
	max-height: 163px;
	margin:0 auto;
	display: inline-block;
}
.img_wrapper2{
	overflow: hidden;
	height:220px;
	width:302px;		
	background-color:#fff;
	display:table-cell;
	text-align:center;
	vertical-align:middle;		
}
.img_wrapper2 img{
	max-height:220px;
	max-width:302px;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}	
header.header_sen {
	margin: 0 -500%;
	padding: 0 500%;
	background-color: #FFF;
	border-bottom:1px solid #dfdfdf;
}
header.header_slider {
	margin: 0 -500%;
	padding: 0 500%;
	background-color: #222222;
	border-bottom:1px solid #DFDFDF;
}